<header class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img data-src="/assets/img/logo_round.svg" class="svg-inject event-logo" alt="Event Logo">
                </div>
                <div class="col-md-9">
                    {% if cfp_open %}
                        <h1 class="headline headline-alpha">O Call For Papers está aberto!</h1>
                        <h3 class="headline headline-alpha">As submissões estão aceitas até dia {{ site.enddate }}</h3>
                    {% else %}
                        <h1 class="headline headline-alpha">
                            {% if site.show_submission_count %}
                                O Call for Papers recebeu {{ number_of_talks }} submissões!
                            {% else %}
                                O Call for Papers está fechado!
                            {% endif %}
                        </h1>
                        <h3 class="headline headline-alpha">As submissões foram aceitas até dia {{ site.enddate }}</h3>
                    {% endif %}
                    <p>
                        {% if cfp_open %}<a class="btn-opencfp btn-opencfp-medium btn-opencfp--outlined" href="{{ url('user_new') }}">Submeta já</a>{% endif %}
                        <a class="btn-opencfp btn-opencfp-medium btn-opencfp--primary" href="{{ url('dashboard') }}">Ver as submissões</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="section section--light">
    <div class="container">
        <div class="row">
            {% if site.event_location is defined and site.date_format is defined %}
            <div class="col-md-8"><h3 class="headline headline--alpha">
                O {{ site.title }} ocorrerá no dia {{ site.arrival|date(site.date_format) }} em {{ site.event_location }}
            </h3></div>
            {%  else %}
                <div class="col-md-8"><h3 class="headline headline--alpha">Mais informações sobre o evento</h3></div>
            {% endif %}
            <div class="col-md-4 text-right"><a href="{{ site.eventurl }}" class="btn-opencfp btn-opencfp-medium btn-opencfp--light">Visite o site</a></div>
        </div>
    </div>
</section>